*{
font-family: 'Roboto', sans-serif;
}

.text{
max-width: 445px;
}

.project{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.flexbox_2, .flexbox_3, .flexbox_4, .flexbox_5, .flexbox_6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    /* padding: 40px 0; */
}
.flexbox_2{
    gap: 30px;
    padding: 108px 0;
}

.img_2{
    width: 540px;
    height: 524px;
    flex-shrink: 0;
    padding: 110px 165px 108px auto;
}

.icon{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    /* padding-top: 80px;
    padding-bottom: 14px; */
}

.describe_elements{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    margin-top: 80px;
}

.describe_1, .describe_2{
    width: 255px;
    justify-content: space-between;
    margin-right: 30px;
}

h2{
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 14px;
}

p2{
    color: var(--colour-main-grey-600, #5D6970);
    font-feature-settings: 'clig' off, 'liga' off;
    width: 540px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.flexbox_3 {
    gap: 155px;
    padding: 122px 0 130px 0;
}

h1, h3, h4, h5{
    width: 445px;
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin: auto;
}

/* h1{
width: 445px;
color: var(--colour-main-blue-900, #091133);
font-feature-settings: 'clig' off, 'liga' off;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */


p{
    color: var(--colour-main-blue-400, #6F7CB2);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    text-align: left;
    width: 445px;
}

/* p{
    color: var(--colour-main-blue-400, #6F7CB2);
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */


.img_3{
    width: 480px;
    height: 315.848px;
    flex-shrink: 0;
    /* padding-top: 122px;
    padding-left: 191px; */
}


.flexbox_4{
    gap: 125px;
    padding: 91px 0 114px 0;
    /* padding-top: 91px; */
}

/* h2{
    width: 445px;
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;
}

p2{
    color: var(--colour-main-blue-400, #6F7CB2);
    font-feature-settings: 'clig' off, 'liga' off;
} */

.img_4 {
    width: 540px;
    height: 387px;
    /* padding-top: 222px; */
    /* padding-left: 161px; */
    flex-shrink: 0;
}

.flexbox_5{
    gap: 172px;
    max-height: 546px;
    padding: 141px 0 163px 0;
}

/* h3{
    width: 445px;
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: 'clig' off, 'liga' off;
}

p3{
    color: var(--colour-main-blue-400, #6F7CB2);
    font-feature-settings: 'clig' off, 'liga' off;
} */

.img_5{
    width: 445px;
    height: 312px;
    flex-shrink: 0;
    /* padding-top: 233px; */
    /* padding-left: 209px; */
}

button {
    width: 150px;
    color: var(--colour-secondary-white-100-general, #FFF);
    background: var(--colour-main-blue-800, #111B47);
    font-feature-settings: 'clig' off, 'liga' off;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border: none;
}

a{
    cursor: pointer;
}

.flexbox_6{
    width: 1440px;
    }

h6{
    width: 600px;
    color: var(--colour-main-blue-900, #091133);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    padding: 237px 0 16px 0;
}

.text_pricing{
    width: 600px;
    color: var(--colour-main-blue-400, #6F7CB2);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 0 35px 0;
}

.price_number{
    width: 350px;
    color: var(--colour-main-blue-700, #222F65);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    padding: 35px 0 1px 0;
}

.price_describe{
    width: 350px;
    color: var(--colour-main-blue-600, #37447E);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 16px 0 60px 0;
}

.above_button{
    width: 350px;
    color: var(--colour-main-grey-600, #5D6970);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 9px;
}

.button__price{
    width: 189px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 2px;
    padding: 13px 0 176px 0;
}


.background_image{
    width: 2546.932px;
    height: 938px;
    flex-shrink: 0;
    fill: var(--colour-main-blue-100, #E7ECFF);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 938px;
    /* align-content: baseline; */
    position:absolute;
} 

